* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    sans-serif;
  line-height: 2;
}

header {
  background-color: #03ed9f;
  color: #0e0d0c;
  padding-top: 50px;
}

.title {
  padding-left: 40px;
  padding-bottom: 30px;
}

header nav {
  background-color: #29ccfe;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
  padding-left: 0px;
}

header nav ul li a {
  border-right: 0.5px solid black; 
  display: inline-block;
  color: #0c0c0c;
  text-decoration:none;
}

.Welcome {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.box {
  display: flex;
  border-style: solid;
  background-color: rgb(230, 176, 176);
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.box ul {
  display: inline-block;
  border-style: dotted;
  box-sizing: auto;
  background-color: white;
  text-align: right;
}

.box p {
  display: block;
}

.inner-box {
  width: 80%;
}

.box2 {
  display: flex;
  border-style: solid;
  background-color: rgb(230, 176, 176);
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

img {
  display: inline-block;
  border-style: groove;
}

.inner2-box {
  width: 20%;
}

footer {
  background: #03ed9f;
  color: #101010;
  text-align: center;
  padding: 5px;
  bottom: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.ul {
  text-align: right;
}
